body {
	background-color: salmon;
}

div.mainContainer {
	width: 600px;
	height: 600px;
	margin: 0 auto;
	border: 1px solid black;
	box-display: border-box;
}

div.etches {
	background-color:white;
	height:16px;
}